.sandbox {
  display: grid;
  gap: 20px;
  grid-template-columns: 500px 800px;


  background-color: gold;
  padding: 20px;
}

.sandbox > * {
  background-color: white;
  padding: 20px;
}

.heading {
  grid-column: span 2;
  font-size: 200%;
  font-weight: bold;
}

.content {
}

.bob {
  grid-column-start: 1;
  grid-row-start: 2;
  width: 100%;
}

.footer {
  grid-column: span 2;
}

